
  body{
    margin: auto;
    padding-top: 52px;
    background-color: black;
    padding-top: 30px;
  }
  footer{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-end;
    font-family: 'Press Start 2P';
    font-size: 8px;
    padding-left: 20px;
  }
  #Contador{
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P';
    font-size: 100%;
  }
  #NumerosDoContador{
    color: rgb(255, 19, 19);
  }
  #TodosOsClicks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
  }

  #DeterminacaoPng{
    width: 100px;
  }
  #PacienceComprada{
    position: relative;
    position:absolute;
    width:30px;
    bottom:420px;
    left:570px;
    display: none
  }
  #BondadeComprada{
    position: relative;
    position:absolute;
    width:30px;
    bottom:480px;
    left:580px;
    display: none
  }
  #BravuraComprada{
    position: relative;
    position:absolute;
    width:30px;
    bottom:525px;
    left:630px;
    display: none
  }
  #JusticeComprada{
    position: relative;
    position:absolute;
    width:30px;
    bottom:525px;
    left:705px;
    display: none
  }
  #PerseverançaComprada{
    position: relative;
    position:absolute;
    width:30px;
    bottom:480px;
    left:750px;
    display: none
  }
  #IntegridadeComprada{
    position: relative;
    position:absolute;
    width:30px;
    bottom:420px;
    left:760px;
    display: none
  }
  #Pacience,#Bondade,#Bravura,#Justice,#Perseverança,#Integridade{
    width: 50px;
    border: 3px solid white;
    padding: 20px;
  }

  #Pacience:hover,#Bondade:hover,#Bravura:hover,#Justice:hover,#Perseverança:hover,#Integridade:hover{
    transform: scale(1.1);
    transition: transform 0.4s;
    border: 3px solid rgb(255, 255, 0);
  }
  
  p{
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P';
    font-size: 9px;
    border: 3px solid white;
    padding: 10px;
    margin-bottom: 10px;
  }
  a{
    display: flex;
    align-self: flex-end;
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P';
    border: 3px solid white;
    padding: 13px;
  }

  a{
    display: flex;
    align-self: center;
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P';
    border: 3px solid white;
    padding: 10px;
    margin-top: 10px;
    font-size: 8px;
  }

  #ComoJogar,#Reset,#TituloUpgrade{
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P';
    border: 3px solid rgb(255, 255, 255);
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
  }
  #TituloUpgrade:hover,#ComoJogar:hover,#Reset:hover{
    color: rgb(255, 247, 0);
    font-family: 'Press Start 2P';
    border: 3px solid rgb(255, 247, 0);
    padding: 10px;
  }

  a:hover{
    align-self: center;
    color: rgb(255, 247, 0);
    font-family: 'Press Start 2P';
    border: 3px solid rgb(255, 247, 0);
    padding: 10px;
    margin-top: 10px;
  }
  
  #Upgrades{
    display: flex;
    padding-top: 185px;
    justify-content: space-around;
    align-items: flex-end;
  }



  @media screen and (max-width: 530px) {
    #Pacience,#Bondade,#Bravura,#Justice,#Perseverança,#Integridade{
      width: 50px;
      border: 3px solid white;
      padding: 20px;
    }
    #PacienceComprada{
      display:flex;
      position:absolute;
      width:30px;
      bottom:405px;
      left:130px;
      display: none
    }
    #BondadeComprada{
      position: relative;
      position:absolute;
      width:30px;
      bottom:465px;
      left:140px;
      display: none
    }
    #BravuraComprada{
      position: relative;
      position:absolute;
      width:30px;
      bottom:510px;
      left:195px;
      display: none
    }
    #JusticeComprada{
      position: relative;
      position:absolute;
      width:30px;
      bottom:510px;
      left:255px;
      display: none
    }
    #PerseverançaComprada{
      position: relative;
      position:absolute;
      width:30px;
      bottom:465px;
      left:310px;
      display: none
    }
    #IntegridadeComprada{
      position: relative;
      position:absolute;
      width:30px;
      bottom:405px;
      left:325px;
      display: none
    }
    
    #Upgrades{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    }
    
    .ShowClick{
      color: rgb(255, 255, 255);
    font-family: 'Press Start 2P';
    font-size: 14px;
    border: none;
    opacity: 0;
    
    }

    @keyframes AnimationClickNumber{
      from {
        opacity: 1;
        transform: translate3d(0,40px,0);
        color: red;
      }
      to {
        opacity: 0;
        transform: translate3d(0,-58px,0);
        color: white;
        
      }
    }

    @keyframes AnimationClickCoracao{
      from {
        transform: translate3d(0,0,0);
        color: red;
        transform: scale(1.3);
        filter: blur(5px)
      }
      to {
        
        transform: translate3d(0,0,0);
        color: white;
        
      }
    }

    @keyframes IdleCoracao{
      25%{transform: rotate(-4deg);}
      75%{transform: rotate(4deg);}
    }
    @keyframes IdleCaixa{
      25%{transform: rotate(-2deg);}
      75%{transform: rotate(2deg);}
    }

    
    @keyframes AnimationContador{
      from {
        font-size: 14px;
        color: rgb(255, 100, 100);
      }
      to {
        font-size: 16px;
        color: red;
        
      }
    }
    
    @keyframes ResetAnimation{
      from{
        opacity:1;
      }
      to{
        opacity:0;
      }
    }

#Fundo{
  background-color: black
}